<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="recurrencyConfig" type="BinaryAnalysis.Scheduler.Scheduler.RecurrencyConfigSection, BinaryAnalysis.Scheduler" />
    <section name="modalBootstrap" type="BinaryAnalysis.UI.Commons.ModalBootstrapConfigSection, BinaryAnalysis.UI" />
  </configSections>

  <modalBootstrap>
    <jsComponents>
      <add name="jquery-ui-1.8.14.custom.zip" value="jquery" />
      <add name="jquery.jqGrid-4.1.2.zip" value="jqgrid" />
      <add name="linq.js_ver2.2.0.2.zip" value="jslinq" />
      <add name="jquery-window-5.03.zip" value="jqwindow" />
      <add name="jquery.treeview.zip" value="treeview" />
      <add name="jquery.jqplot.1.0.0b1_r746.zip" value="jqplot" />
    </jsComponents>
    <restore>
    </restore>
    <registry disabled="true">
      <add name="SOFTWARE\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BLOCK_LMZ_IMG" value="0" />
      <add name="SOFTWARE\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BLOCK_LMZ_SCRIPT" value="0" />
    </registry>
  </modalBootstrap>
  
  <!--
    http://nhforge.org/doc/nh/en/index.html#session-configuration
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <!--<session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">Data Source=localhost;Initial Catalog=proxyChecker;Integrated Security=SSPI;</property>
    </session-factory>-->
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <!--<property name="connection.driver_class">NHibernate.Driver.SQLiteDriver</property>-->
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">Data Source=test.db;Version=3;New=True;</property>
    </session-factory>
  </hibernate-configuration>
  <!--
    http://code.google.com/p/autofac/wiki/StructuringWithModules
    http://code.google.com/p/autofac/wiki/XmlConfiguration
   -->
  <autofac>
    <modules>
      <module type="BinaryAnalysis.Modularity.Modules.RegisterAllDataModule, BinaryAnalysis.Modularity" />
      <!--<module type="BinaryAnalysis.Modularity.Modules.Data.TrackedDataAccessConfigModule, BinaryAnalysis.Modularity" >-->
      <module type="BinaryAnalysis.Modularity.Modules.Data.DataAccessConfigModule, BinaryAnalysis.Modularity" >
        <properties>
          <!--<property name="DatabaseInitMethod" value="Recreate" />-->
          <!--<property name="DatabaseInitMethod" value="CreateIfInvalid" />-->
          <property name="DatabaseInitMethod" value="DoNothing" />
          <property name="SessionManager" value="PerCall" />
        </properties>

      </module>
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.BrowsingModule, BinaryAnalysis.Modularity" >
        <properties>
          <property name="StateStoringDurationSeconds" value="600" />
        </properties>
      </module>
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.EvaluationModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.HttpProxyDataModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.HealthModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Scheduler.TaskFactoryModule, BinaryAnalysis.Modularity" />
      <!--<module type="BinaryAnalysis.Modularity.Modules.Scheduler.SchedulerModule, BinaryAnalysis.Modularity" />-->
      <module type="BinaryAnalysis.ScriptingHelper.ScriptingHelperVisualsModule, BinaryAnalysis.ScriptingHelper" />

      <module type="BinaryAnalysis.UI.Modules.RegisterAllUIModule, BinaryAnalysis.UI" />
      <module type="BA.Examples.GUI.Modules.GuiVisualsModule, BA.Examples.GUI" />
      
      <module type="BinaryAnalysis.Visuals.Debug.DebugVisualsModule, BinaryAnalysis.Visuals.Debug" />
      <module type="BinaryAnalysis.Visuals.Annotations.AnnotationVisualsModule, BinaryAnalysis.Visuals.Annotations" />
      <module type="BinaryAnalysis.Visuals.Scheduler.SchedulerVisualsModule, BinaryAnalysis.Visuals.Scheduler" />
      <!--<module type="BinaryAnalysis.Goals.SiteDownloader.SiteDownloaderModule, BinaryAnalysis.Goals.SiteDownloader" />-->

    </modules>
  </autofac>
  <!--
    http://www.raboof.com/Projects/NCrontab/
  -->
  <!--<recurrencyConfig>
    <crontab>
      <add cron="10 */24 * * *" taskname="Proxy-Check-Recheck" recreate="True" />
      <add cron="* */4 * * *" taskname="Proxy-AllNew" />
    </crontab>
  </recurrencyConfig>-->
  <!--
    http://logging.apache.org/log4net/release/config-examples.html
  -->
  <log4net>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
      <onlyFixPartialEventData value="true" />
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="service-log.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
    <root>
      <!--<level value="ALL"/>-->
      <appender-ref ref="MemoryAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TraceLog.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.827" newVersion="2.5.1.827" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>