<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <!--
    http://code.google.com/p/autofac/wiki/StructuringWithModules
    http://code.google.com/p/autofac/wiki/XmlConfiguration
   -->
  <autofac>
    <modules>
      <module type="BA.Examples.ServiceClient.Modules.AllServiceClientModulesModule, BA.Examples.ServiceClient" />
    </modules>
  </autofac>

  <!--
    http://logging.apache.org/log4net/release/config-examples.html
  -->
  <log4net>
    <root>
    </root>
  </log4net>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
