<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <!--
    http://code.google.com/p/autofac/wiki/StructuringWithModules
    http://code.google.com/p/autofac/wiki/XmlConfiguration
   -->
  <autofac>
    <modules>
      <module type="BA.Examples.ServiceClient.Modules.AllServiceClientModulesModule, BA.Examples.ServiceClient" />
    </modules>
  </autofac>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
