<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="console" type="BA.Examples.Console.ConsoleConfigSection, BA.Examples.Console"/>
  </configSections>

  <console>
    <manage>
      <add name="state" value="BinaryAnalysis.Data.State.StateEntity, BinaryAnalysis.Data" />
    </manage>
    <restore>
      <!--<add name="Restore/workingProxies.xml" value="BinaryAnalysis.Extensions.HttpProxy.Data.HttpProxyFileBackup, BinaryAnalysis.Extensions" />-->
    </restore>
  </console>
  
  <!--
    http://nhforge.org/doc/nh/en/index.html#session-configuration
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <!--<session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
      <property name="connection.connection_string">Server=localhost;Database=test;User ID=postgres;Password=123qweQWE;</property>      
    </session-factory>-->

    <!--<session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">Data Source=localhost;Initial Catalog=test;Integrated Security=SSPI;</property>
    </session-factory>-->
    
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">Data Source=test.db;Version=3;New=True;</property>
    </session-factory>
    <!--<property name="connection.driver_class">NHibernate.Driver.SQLiteDriver</property>-->

    <!--<session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
      <property name="connection.connection_string">Data Source=test.sdf</property>      
    </session-factory>-->
    
  </hibernate-configuration>
  
  
  <!--
    http://code.google.com/p/autofac/wiki/StructuringWithModules
    http://code.google.com/p/autofac/wiki/XmlConfiguration
   -->
  <autofac>
    <modules>
      <module type="BinaryAnalysis.Modularity.Modules.LogInjectionModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.RegisterAllDataModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Data.DataAccessConfigModule, BinaryAnalysis.Modularity" >
        <properties>
          <property name="SessionManager" value="PerCall" />
          <!--<property name="DatabaseInitMethod" value="DoNothing" />-->
          <property name="DatabaseInitMethod" value="CreateIfInvalid" />
        </properties>
      </module>
      <module type="BinaryAnalysis.Modularity.Modules.Data.SettingsModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Data.TaxonomyModule, BinaryAnalysis.Modularity" />
      
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.BrowsingModule, BinaryAnalysis.Modularity" />
      <!--<module type="BinaryAnalysis.Modularity.Modules.Extensions.HealthModule, BinaryAnalysis.Modularity" />-->
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.EvaluationModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Extensions.HttpProxyDataModule, BinaryAnalysis.Modularity" />
      <module type="BinaryAnalysis.Modularity.Modules.Scheduler.SchedulerModule, BinaryAnalysis.Modularity" />

      <module type="BA.Examples.Console.Modules.TestScriptsModule, BA.Examples.Console" />
    </modules>
  </autofac>
  
  
  <!--
    http://logging.apache.org/log4net/release/config-examples.html
  -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="service-log.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <logger name="NHibernate">
      <level value="WARN"/>
    </logger>

   <logger name="NHibernate.SQL">
      <level value="WARN"/>
    </logger>
    
    <root>
      <!--<level value="ALL"/>-->
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
    
  </log4net>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="TraceLog.svclog" />
    </sharedListeners>

  </system.diagnostics>

</configuration>
