<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>@Model.Title</title>
        <base href="@Model.BaseUrl" />
        <script language="javascript" src="jqgrid\js\jquery-1.5.2.min.js"></script>
        <script language="javascript" src="Redist\jquery-deps.js"></script>
        <script language="javascript" src="BinaryAnalysis.Bootstrap.js"></script>
    </head>
	<body>
        <div id="main">
            <img src="image.jpg" style="position:relative;float:right" />
            <div style="position:absolute">
                <div id="menu"></div>
                <div id="container"><center id="loadingMessage"><h1>Loading...</h1></center></div>
            </div>
        </div>
	</body>
</html>